/* -------
Layout.erb
----------*/

body {
  background-image: url(/images/extra_clean_paper.png);
  font-family: Helvetica, Arial, Sans-serif;
}

/* ----------------
Welcome_message.erb
------------------- */

header {
  width: 100%;
  height: 32px;
  background-color: black;
  color: white;
  display: flex;
  padding: 0 5px;
  font-family: Helvetica, Arial, Sans-serif;
}

header #logo {
  margin: auto 0;
  display: flex;
  padding-right: 4px;
  text-decoration: none;
  color: white;
}

header #user-links {
  display: inline-block;
}

a.button {
  display: inline-block; 
  width: 40px;
  background-color: #82B743;
  border: 1.5px solid white;
  color: white; 
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; 
  margin-left: 5px;
  margin-right: 4px;
  margin-top: 4px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); 
  font-size: 10px;
  font-family: Helvetica, Arial, Sans-serif;
}

a.button.highlighted {
  background-color: #b77843;
  margin-right: 800px;
  margin-left: 40px; 
  font-family: Helvetica, Arial, Sans-serif;
}

#sign-out {
  display: inline-block; 
  width: 60px;
  background-color: #82B743;
  border: 1.5px solid white;
  color: white; 
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; 
  margin-left: 5px;
  margin-right: 4px;
  margin-top: 4px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); 
  font-size: 10px;
  font-family: Helvetica, Arial, Sans-serif;
}

/* --------
   Links.erb
-------------*/

#links-container {
  background-color: white;
  margin: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px;
}

.link {
  background-color: #EEE;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 10px inherit;
  padding: 15px 10px;
}

.link a.title {
  letter-spacing: 1px;    
}

.link .description {
  margin: 10px inherit;
}

.link .source {
  float: right;
  font-size: 12px;
}

/* --------
footer.erb
----------*/

footer {
  display: flex;
  background-color: rgba(0,0,0,0.2);
}

footer > * {
  margin: auto inherit;
}

footer img {
  /* http://stackoverflow.com/questions/10658475/3px-extra-height-on-a-div-with-an-image-inside-it */
  vertical-align: top;
}

footer #technologies {
  -webkit-flex: 1;
  flex: 1;
}

footer p {
  padding: 5px 25px;
}
